.humburger {
  display: none;
}

@media screen and (max-width: 480px) {
  .humburger {
    display: flex;
    flex-direction: column;
    width: 31px;
    height: 31px;
    padding-bottom: 38px;
    margin-top: 38px;
  }
  .line {
    width: 31px;
    border-top: 3px solid #383838;
    margin-bottom: 25%;
    background: #383838;
  }
  .cross {
    transform: rotate(45deg);
    position: absolute;
    top: 46px;
    background: green;
  }
  .cross2 {
    transform: rotate(-45deg);
    position: absolute;
    top: 46px;
  }
}
