.humburger
{
  display: none;
}


@media screen and (max-width: 480px) {
.humburger {
  display: flex;
  flex-direction: column;
  width: 31px;
  height: 31px;
  position: fixed;
  z-index: 50;
  top: 19px;
  left:20px;
}

.line {
  width: 100%;
  border-top: 3px solid #383838;
  margin-bottom: 25%;
  background: #383838;
}

.cross {
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
  background: green;
}

.cross2 {
  transform: rotate(-45deg);
  position: absolute;
  top: 14px;
}
}
